.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: goldenrod;
}
body {
  background-image: url("./images/greenseet.jpg");
  text-align: center;
  color: white;
  font-weight: bold;
  background-size: cover;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin-bottom: 4px;
  margin-left: 5px;
}

img {
  width: 100px;
  float: left;
  margin: 10px;
}

.card--box {
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
  width: 500px;
  height: 60%;
  overflow: auto;
}

.A-button {
  position: absolute;
  left: 5px;
  top: 5px;
}

.buttons--box {
  align-items: center;
}

.msg--box {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.msg--box h3 {
  color: #fff;
}
